<%= render partial: "form" %>
<ul>
  <%= render partial: "list", locals: { favorites: @favorites, user: @user} %>
</ul>
<%= link_to "Click here to add a new favorite!", new_user_favorite_path(@user),{ :class=>"new-favorite-link" } %>

<div class="new-favorite-form">
    <h3 class="panel-heading"></h3>
      <%= render partial: "/favorites/form", locals: { user_id: @user.id, favorite: @favorite} %>
</div>
